.footer {
  margin-top: rem(120px);
  background-color: #004d49;
  color: "#FFFF";
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.links {
  color: white;
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}
